* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1m;
    font-family: sans-serif;
}

header h1{
    background:#2D83C3;
    color:#E6E8D4;
    text-align:right;
}

nav{
    background:#20143B;
    color:#D8D7E4;
    padding: 1em;
    margin:auto;
}

nav ul li{
    display:inline;
}

nav a{
    color:#D8D7E4;
    text-decoration:none;
    margin: 0em 0em 3em 3em;
}

footer{
   background: #D8D7E4;
   margin-top: 15em;
}