* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1m;
    font-family: sans-serif;
}

header h1{
    background:#2D83C3;
    color:#E6E8D4;
    text-align:right;
    padding:.3em;
}

header a{
    color:#E6E8D4;
    text-decoration:none;
}

nav{
    background:#20143B;
    color:#D8D7E4;
    padding: .8em;
    margin:auto;
}

nav ul li{
    display:inline;
}

nav a{
    color:#D8D7E4;
    text-decoration:none;
    margin: 0em 0em 3em 3em;
}

footer{
   background: #D8D7E4;
   margin-top: 8em;
}

/*-----------------------------
  Estilos formulario
 *----------------------------*/

form{
    background: #EDEDED;
    border: solid black 1px;
    border-radius: 7px;
    width: 34em;
    margin:auto;
    margin-top:10%;
    padding:1em;
}

.form-red{
    background:#EDEDED;
    border:solid black 1px;
    border-radius: 7px;
    width:auto;
    margin-right:.5em;
}

.form-red div{
    margin:.3em;
    padding:.2em;
}

.form-section{
    display:inline-block;
}

.section-contenedor{
    text-align:center;
}

form div{
    margin: 1em;
    
}

.marco-red{
    border: solid 1px gray;
    margin: 1em;
    padding:1em;
}

form fieldset{
    margin-top: .5em;
    padding-top: auto;
    text-align:center;
}

form  fieldset legend{
    color:#18145B;
    font-size: 22px;
    text-align:center;
    
}

input{
    font-size:1.1em;
    border: solid 1px gray;
    border-radius: .25em;
    padding: .2em;
    margin-top: .4em;
}

input:focus{
    background: #B8E0E9;
}

input[type="submit"]{
    background:#552F60;
    color: #E0E0E0;
    margin-top:.7em;
}

input[type="submit"]:hover {
    background:#552F70;
    color: white;
    cursor: pointer;
}

label{
    cursor: pointer;
    white-space:pre;
}
   
.on-place{
    font-weight:bold;
    color:#F3F3F3;
}

.on-place{
    font-weight:bold;
    color:#F3F3F3;
}

.on-place2{
    font-weight:bold;
    color:#20143B;
    font-size:.9em;
}

.nav2{
    background:#6C84B6;
    color:#00220F;
    text-decoration:none;
    display:block;
    padding:.3em;
}